!!! 5
html(lang='en')
  head
    title Social Network
    style
      html, body, #content {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px
      }
    script(data-main='../js/main', src='../js/libs/require.js')
  body
    #content