<style type="text/css">
    .bgimg {
        background-image: url('landingBgImg.jpg');
        background-color: #E9E9F1;
        height: 80%;
    }

    .userAction {
        opacity: 0.8;
        background-color: #FFFFFF;
        margin: auto;
        width: 25%;
        overflow: hidden;
        padding: 20px
    }

    .registerUser {
        float: left;
    }

    .login {
        float: right;
    }

    .textBox {
        border: 1px solid #000000;
        opacity: 1.0;
        background-color: #FFFFFF;
        width: 130px;
        height: 30px;
        padding: 5px;
    }

    .btn {
        border: 1px solid #000000;
        opacity: 1.0;
        background-color: #000000;
        color: white;
        width: 140px;
        height: 40px;
    }

    br {
        line-height: 10px;
    }

    .topBox {
        height: 10%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .registerationArea {
        width: 100%;
        height: 40%;
        margin-left: 30%;
    }
</style>
<div class="bgimg">
    <div class='topBox'></div>
    <div id="loginArea"></div>
    <div id="registerationArea"></div>
    <div class="userAction">
        <!-- <div class="registerUser" align="right">
            <form class="registerForm">
                <label> First Name
                    <input class="textBox" type="text" name="firstName" />
                </label>
                <br />
                <br />
                <label> Last Name
                    <input class="textBox" type="text" name="lastName" />
                </label>
                <br />
                <br />
                <label> Email
                    <input class="textBox" type="text" name="email" />
                </label>
                <br />
                <br />
                <label> Password
                    <input class="textBox" type="password" name="password" />
                </label>
                <br />
                <br />
                <label> Confirm Password
                    <input class="textBox" type="password" name="cpassword" />
                </label>
                <br />
                <br />
                <input class="btn" type="submit" value="Register">
            </form>
        </div>
        <div class="login" align="center">
            <form class="loginForm">
                <input type="text" class="textBox" name="emailLogin" value="Email Address">
                <br />
                <br />
                <input type="password" class="textBox" name="passwordLogin" value="Password">
                <br />
                <br />
                <input type="submit" class="btn" value="Login">
            </form>
            <a href="#forgotpassword">Forgot Password?</a>
        </div> -->
    </div>
</div>