<style type="text/css">
    /*.bgimg {
        background-image: url('landingBgImg.jpg');
        background-color: #E9E9F1;
        height: 100%;
    }*/

    #content {
        background-image: url('landingBgImg.jpg');
        background-color: #E9E9F1;
    }

    .userAction {
        opacity: 0.8;
        background-color: #FFFFFF;
        margin: auto;
        width: 25%;
        overflow: hidden;
        padding: 20px
    }

    .registerUser {
        float: left;
    }

    .login {
        float: right;
    }

    .textBox {
        border: 1px solid #000000;
        opacity: 1.0;
        background-color: #FFFFFF;
        width: 130px;
        height: 30px;
        padding: 5px;
    }

    .btn {
        border: 1px solid #000000;
        opacity: 1.0;
        background-color: #000000;
        color: white;
        width: 140px;
        height: 40px;
    }

    br {
        line-height: 10px;
    }

    .topBox {
        height: 10%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .registerationArea {
        width: 100%;
        height: 40%;
        margin-left: 30%;
    }
</style>
<div class="bgimg">
    <div class='topBox'></div>
    <div id="loginArea"></div>
    <div id="registerationArea"></div>
</div>