<link rel="stylesheet" href="registrationStyle.css">
<div class="registration_main">
	<section class="loginform cf">
		<form name="registerForm">
			<ul>
				<li>
					<label for="emailid">Email</label>
					<input type="email"
					name="emailid" placeholder="yourname@email.com" required>
				</li>
				<li>
					<label for="rpassword">Password</label>
					<input
					type="password" name="rpassword" placeholder="password" required>
				</li>
				<li>
					<label for="cpassword">Confirm Password</label>
					<input
					type="password" name="cpassword" placeholder="password" required>
				</li>
				<li>
					<label for="fname">First Name</label>
					<input
					type="text" name="fname" placeholder="First Name" required>
				</li>
				<li>
					<label for="lname">Last Name</label>
					<input
					type="text" name="lname" placeholder="Last Name" required>
				</li>
				
				<li>
					<label for="terms">Agree to terms and conditions</label>
					<input
					type="checkbox" name="terms" required>
				</li>
				<li>
					<input type="submit" value="Register">
				</li>
			</ul>
		</form>
	</section>
</div>

